@model RicksRentals.Models.Skateboard

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Skateboard</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DailyRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DailyRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentalDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentalDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SkateId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
